{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>


      {% for listing in listings %}
        {% if listing.active_listing %}
          <div class="grid-container">  
            <div>
              <a href="{% url 'listing' listing.id %}">
                <img src="{{ listing.image_url }}" class="img" width="230" height="150">
              </a>
            </div>
            <div>
              <a>{{ listing.name }}</a>
              <a>{{ listing.description }}</a>
            </div>
          </div>
          <br>
        {% endif %}
      {% endfor %}


{% endblock %}