{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Primeiro</th>
            <th scope="col">Último</th>
            <th scope="col">Nickname</th>
          </tr>
        </thead>
        <tbody>
          {% for listing in listings %}
          
          <tr> 
              <th scope="row"><img src="{{ listing.image_url }}" alt="Italian Trulli" style="width:42px;height:42px"></th>
              <td><a href="{% url 'listing' listing.id %}">{{ listing.name }}</a></td>
              <td>{{ listing.description }}</td>
              <td><img src="{{ listing.image_url }}" alt="Italian Trulli" style="width:42px;height:42px"></td>
          </tr>
         
          {% endfor %} 
        </tbody>
      </table>
{% endblock %}