{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing Page</h2>
    <ul>
        <li>Title: {{ listing.name }}</li>
        <li>Description</li>
        <li>Crrent Price</li>
        <li>Foto</li>
    </ul>
    
    {% if  request.user.is_authenticated %}
         
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="ar" value="add">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <input class="btn btn-primary" type="submit" value="Add Watchlist" >
        </form>
    {% endif %}
    
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% empty %}
            <li>No Passengers.</li>
        {% endfor %}
    </ul>
    
{% endblock %}