{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" type="email" name="description" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="bind" placeholder="Start Bind">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image" placeholder="URL Image">
        </div>
        <input class="btn btn-primary" type="submit" value="Send">
    </form>
    
{% endblock %}