{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>New page</h1>

    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}

        {{ form.titlePage.label }}:

        {{ form.titlePage }}

        {% if existEntry %}
            <i style="color: red;">ERRO: Entry title already exists</i>
        {% endif %}

        <p>Insert the text</p>
        {{ form.contentPage }}
        <br>
        <input type="submit" value="Submit">
    </form>


{% endblock %}