{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing, value in listings %}
        <a href="{% url 'lpage' listing.id %}">  
            <div class="container-fluid  my-3 border">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="teste">
                        <img src="{{listing.image_url}}" alt="Flowers in Chania" class="mx-auto d-block">
                    </div>
                    </div>
                    <div class="col-sm-9"> 
                        <h3>{{ listing.title }}</h3>
                        {% if value %}
                            <h6>Price: ${{ value }}</h6>
                        {% else %}
                            <h6>Price: ${{listing.start_bid}}</h6> 
                        {% endif %}
                        <p>Created: <small> {{ listing.date_create }}</small></p>
                        
                    </div>            
                </div>
            </div>
        </a>
    {% empty %}
        No Category.
    {% endfor %}

{% endblock %}